* {
  margin: 0;
  padding: 0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-bottom: 50px;
}

.box-2 {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.content {
  width: 800px;
}
.content p {
  color: black;
  font-size: 22px;
  line-height: 1.5;
}
.content a {
  color: blue;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
.content a:hover {
  color: aquamarine;
}
.content__box {
  width: 200px;
  height: 200px;
  background-color: green;
}

.list {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  list-style: none;
}
.list .item {
  color: rgb(231, 225, 225);
  background-color: rgb(72, 0, 255);
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  padding: 10px;
}
.list .item:hover {
  -webkit-box-shadow: 5px 5px rgba(34, 60, 80, 0.6);
          box-shadow: 5px 5px rgba(34, 60, 80, 0.6);
}