@import "_vars";

.box {
    width: 100px;
    height: 100px;
    background-color: $box-color;
    margin-bottom: 50px;
}

.box-2 {
    width: 200px;
    height: 200px;
    background-color: $box-color;
}