@import "_vars";

// .box {
//     width: 100px;
//     height: 100px;
//     background-color: $box-color;
//     margin-bottom: 50px;
// }

// .box-2 {
//     width: 200px;
//     height: 200px;
//     background-color: $box-color;
// }
// .box {
//     width: calc($box-width + 40vw);
//     height: $box-height;
//     background-color: $box-color;
//     margin-bottom: 50px;
// }

// .box--2 {
//     width: $box-width + 200px;
//     height: $box-height + 100px;
//     background-color: $box-color;
// }

.box {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
 &__item {
    width: $box-width;
    height: $box-height;
    background-color: $box-color;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    &--2 {
        color: beige;
        align-items: flex-end;
    }
}
}