@import '_vars';

// @mixin color {
//     color: rgb(231, 225, 225);
//     background-color: rgb(72, 0, 255);
// }


// .list {
//     width: 600px;
//     display: flex;
//     justify-content: center;
//     gap: 15px;
//     list-style: none;
//     & .item {
//         @include color;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 200px;
//         height: 200px;
//         border: 1px solid grey;
//         padding: 10px;
//         transition: all 0.3s ease-in-out;
//         &:hover {
//             box-shadow: 5px 5px rgba(34, 60, 80, 0.6);
//         }
//     }
// }


// @font-face {
//     font-family: 'Poppins';
//     src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
//         url('../fonts/Poppins-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Impact';
//     src: url('../fonts/Impact.woff2') format('woff2'),
//         url('../fonts/Impact.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Poppins';
//     src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
//         url('../fonts/Poppins-SemiBold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

@mixin font_face($family, $url, $weight: normal, $style: normal, $display: swap) {
    @font-face {
            font-family: $family;
            src: url('../fonts/' + $url + '.woff2') format('woff2'),
                url('../fonts/' + $url + '.woff') format('woff');
            font-weight: $weight;
            font-style: $style;
            font-display: $display;
        }
}